@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.body{
    width:  100%;
    background-image: url(../imagens/fundo.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-repeat: no-repeat;
}

.container{
    background-color: transparent;
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: #000000 0px 0px 10px;
}

.imgPrincipal{
    height: 350px;
    width: 270px;
    border-radius: 25px;
}

.textoInicio{
    margin-top: 24px;
    font-size: 35px;
    color: #ff00e1;
    font-family: "Rouge Script", cursive;
    font-weight: 400;
}

.descricao{
    margin-top: 15px;
    font-size: 18px;
    color: #000000;
    text-align: center;
    line-height: 1.5;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

button{
    margin-top: 20px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    background-color: #ff9af3;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;

}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}